.Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.Header__left {
    flex: 0.5;
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    color: gray;
    align-items: center;
}
.Header__right {
    display: flex;
    align-items: center;
}

.Header__right > h6 {
    margin-left: 10px;

}
.Header__left_input {
    border: none;
    width: 100%;
    outline: none;
}
