.SideBarOptions{
    cursor: pointer;
    display: flex;
    padding-left: 10%;
    color: #848484;
    transition: 200ms color ease-in;
}
.SideBarOptions:Hover{
color: white;
}
.SideBarOptions__icon{
    padding-top: 18px;
    padding-right: 10px;
}