.SongList{
    /* background-color: honeydew; */
    color :white;
    display: flex;
    margin: 10px;
    margin-top: 20px;
    height: 50px;
    flex-direction: row;
}
.SongList__artist{
    /* color: rgb(139, 129, 129); */
    color: gray;
    position: relative;
    bottom: 10px;
}
.SongList__info{
    padding-left: 15px;
    position: relative;
    bottom: 10px;
    flex: 0.3;
}
.SongList:hover{
    cursor: pointer;
    background-color: black;
    opacity: 0.8;

} 
.SongList__duration{
    color: gray;
    flex: 0.7;
    /* background-color: wheat; */
    width: 70%;
    display: flex;
    flex-direction: row-reverse;

    /* margin-left: 50%; */

   
}

.SongList__duration_tag{
    padding-right: 10px;

}